img {
    height: 200px;
    border-radius: 50%;
}

body {
    background-color: darkviolet;
}
.seprating {
    background-color: white;
    height: 10px;
}
#sec2 {
    background-color:aqua;
}

h1 {
    text-shadow 2px 2px #FAFAFA;
    font-size: 20px;
    text-align: center;

}
h2 {
    text-align: center;
    font-size: 100px;
}

h3 {
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

#j {
  font-family: 'Bangers', cursive;  
}
p {
    font-size: 20px;
}
#hding {
  width:10px;
    height: 10px;
  background-color: black;
   
}
.menu {
    font-size: 18px;
}
